name: ci

on: [push]

jobs:

  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        terraform_version: [11,12]

    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Install tfschema
        run: |
          wget https://github.com/minamijoyo/tfschema/releases/download/v0.3.0/tfschema_0.3.0_linux_amd64.tar.gz
          mkdir $GITHUB_WORKSPACE/.tfschema
          tar -xvf tfschema_0.3.0_linux_amd64.tar.gz -C $GITHUB_WORKSPACE/.tfschema
          echo "::add-path::$GITHUB_WORKSPACE/.tfschema/tfschema"

      - name: Install tfenv
        run: |
          git clone https://github.com/tfutils/tfenv.git $GITHUB_WORKSPACE/.tfenv
          echo "::add-path::$GITHUB_WORKSPACE/.tfenv/bin/"
          echo "::add-path::$GITHUB_WORKSPACE/.tfenv/bin/*"

      - name: Install terraform
        working-directory: test/fixture/terraform_${{ matrix.terraform_version }}
        run: |
          tfenv install
          tfenv use

      - name: Print Terraform version
        run: |
          terraform --version

      - name: Test
        run: go test -v -run TestTerraform${{ matrix.terraform_version }}
